.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
   border: 1px solid #fefefe ;
    width: 80%;
    max-width: 600px;
    position: relative;
	font-size: 20px;
	border-radius: 5px;
}

.modal-content span:first-child{
display: flex;
justify-content: center;
margin-top: 75px;
margin-bottom: 0;

}

/* Close button styles */
.close {
	color: black;
    float: right;
    margin-right: 25px;
	margin-top:-75px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Styles for modal card */
.modal-card {
    display: flex;
    flex-direction: column;
	margin: 75px;
}

/* Styles for works container */
.modal-card-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Display works in a single column */
    gap: 10px; /* Gap between works */
	max-height: 400px; /* Limit height */
	border-bottom: 1px solid #dadddd;
  
}

/* Styles for "Add Project" button */
.add-project-button {
    align-self: center; /* Align button to the center */
    margin-top: 50px; /* Add margin on top */
}

.modal-card-content img {
    max-width: 100%; /* Reduce size of image works */
    height: auto; /* Maintain aspect ratio */
	margin-bottom:10px;
}